// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boxes {
  .media {
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    padding: 7px;
    background-color: lightyellow;
    position: relative;
  }
}

.time {
  position: absolute;
  top: 1px;
  right: 5px;
}